<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="/Log/Mail.txt">
  <variable name="logDirectory" value="${basedir}/Log/${shortdate}"/>
  <targets>
    <default-target-parameters xsi:type="File" keepFileOpen="false"/>
    <target name="Workflow" xsi:type="File" layout="[${date}][${callsite:includenamespace=false:methodname=false}][${level}] ${message} ${exception}" fileName="${logDirectory}/Workflow.txt"/>
    <target name="DBProxy" xsi:type="File" layout="[${date}][${callsite:includenamespace=false:methodname=false}][${level}] ${message}" fileName="${logDirectory}/DBProxy.txt"/>
    <target name="DICOMProxy" xsi:type="File" layout="[${date}][${callsite:includenamespace=false:methodname=false}][${level}] ${message}" fileName="${logDirectory}/DICOMProxy.txt"/>
    <target name="HardwareProxy" xsi:type="File" layout="[${date}][${callsite:includenamespace=false:methodname=false}][${level}] ${message}" fileName="${logDirectory}/HardwareProxy.txt"/>
    <target name="Operation" xsi:type="File" layout="[${date}][${callsite:includenamespace=false:methodname=false}][${level}] ${message}" fileName="${logDirectory}/Operation.txt"/>
    <target name="QueueStatus" xsi:type="File" layout="[${date}][${callsite:includenamespace=false:methodname=false}][${level}] ${message}" fileName="${logDirectory}/QueueStatus.txt"/>
    <target name="CommonMessage" xsi:type="File" layout="[${date}][${callsite:includenamespace=false:methodname=false}][${level}] ${message}" fileName="${logDirectory}/CommonMessage.txt"/>
    <target name="Exception" xsi:type="File" layout="[${date}][${callsite:includenamespace=false:methodname=false}][${level}] ${message} ${exception}" fileName="${logDirectory}/Exception.txt"/>
    <target name="InfoMail" 
            xsi:type="Mail"
            smtpServer="smtp.126.com"
            smtpPort="25"
            useSystemNetMailSettings="false"
            smtpAuthentication="Basic"
            smtpUserName="******"
            smtpPassword="*****"
            enableSsl="false"
            from="*****"
            to="*****"
            subject="AAAA"
            header="cccc"
            body="ddddd"
            footer="eeee" />
  </targets>

  <rules>
    <logger name="Workflow" minlevel="Trace" writeTo="Workflow" />
    <logger name="DBProxy" minlevel="Trace" writeTo="DBProxy" />
    <logger name="DICOMProxy" minlevel="Trace" writeTo="DICOMProxy" />
    <logger name="HardwareProxy" minlevel="Trace" writeTo="HardwareProxy" />
    <logger name="Operation" minlevel="Trace" writeTo="Operation" />
    <logger name="QueueStatus" minlevel="Trace" writeTo="QueueStatus" />
    <logger name="CommonMessage" minlevel="Trace" writeTo="CommonMessage" />
    <logger name="Exception" minlevel="Trace" writeTo="Exception" />
    <logger name="InfoMail" minlevel="Trace" writeTo="InfoMail" />
  </rules>
</nlog>
