<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dockPanelSuite" type="XPect.Lib.WinFormsUI.Docking.Configuration.PatchSection, XPect.Lib.WinFormsUI.Docking"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <dockPanelSuite runAsDeignMode="true" />
  <appSettings >
    <add key ="ImageSizeIsDynamic" value="false"/>
    <!--最少显示4张 2个方位，一个缩略图，1个增加按钮-->
    <add key ="UseAutoSortImageArray" value="true"/> <!--图片排列自适应：此值为true  StudyExamImageShowNormal 不生效-->
    <add key="StudyExamImageShowNormal" value="2*2"/> <!--拍片时显示的影像规格-->
    <add key ="StudyExamImagePX" value="320*260"/> <!--图片像素-->
    <add key="ImageSpanMargin" value="10*10"/> <!--图片间 right，bottom间隔-->
    <add key="DefaultImage" value="defaultImg.png"/> <!--默认加载的图片路径-->
    <add key="AddActionImage" value="add.png"/>  <!--进行图片添加的图标-->
    <add key="DeadAheadImg" value="DeadAheadImg.jpg"/> 
    <add key="BottomBarHeight" value="35"/> <!--底部工具栏的高度-->
    <add key ="MarginRight" value="10"/> <!--button按钮右间距-->
    <add key ="TipEleHeight" value="20"/> <!--提示元素的高度-->
    <add key="BtnWidth" value="100"/>
  </appSettings>
</configuration>